@@ -12,48 +12,54 @@ sourceCompatibility = '17'
configurations {
  compileOnly {
    extendsFrom annotationProcessor
  }
}

repositories {
  mavenCentral()
}

ext {
  set('springCloudVersion', "2021.0.3")
  set('mapstructVersion', "1.5.3.Final") // https://search.maven.org/artifact/org.mapstruct/mapstruct
  set('lombokMapstructBindingVersion', "0.2.0")
  set('testcontainersVersion', "1.17.3") // https://search.maven.org/artifact/org.testcontainers/testcontainers-bom
  set('springCloudGcpVersion', "3.3.0") // https://search.maven.org/artifact/com.google.cloud/spring-cloud-gcp-dependencies
  set('springdocVersion', "1.6.11") // https://search.maven.org/artifact/org.springdoc/springdoc-openapi-ui
  set('chaosMonkeyVersion', "2.6.1") // https://search.maven.org/artifact/de.codecentric/chaos-monkey-spring-boot
}

dependencies {
  implementation 'org.springframework.boot:spring-boot-starter-web'
  implementation 'org.springframework.boot:spring-boot-starter-actuator'
  implementation 'org.springframework.boot:spring-boot-starter-cache'
  implementation 'org.springframework.boot:spring-boot-starter-data-redis'
  implementation 'org.springframework.boot:spring-boot-starter-data-jpa'
  implementation 'org.springframework.boot:spring-boot-starter-data-rest'
  implementation 'org.springframework.boot:spring-boot-starter-validation'
  implementation 'org.liquibase:liquibase-core'
  implementation 'org.springframework.cloud:spring-cloud-starter-circuitbreaker-resilience4j'
  implementation 'org.springframework.cloud:spring-cloud-starter-openfeign'
  implementation 'org.springframework.cloud:spring-cloud-starter-sleuth'
  implementation 'org.springframework.cloud:spring-cloud-stream'
  developmentOnly 'org.springframework.boot:spring-boot-devtools'
  runtimeOnly 'io.micrometer:micrometer-registry-prometheus'
  runtimeOnly 'org.postgresql:postgresql'
  compileOnly 'org.projectlombok:lombok'
  annotationProcessor 'org.projectlombok:lombok'
  // mapstruct
  implementation "org.mapstruct:mapstruct:${mapstructVersion}"
  annotationProcessor "org.mapstruct:mapstruct-processor:${mapstructVersion}"
  annotationProcessor "org.projectlombok:lombok-mapstruct-binding:${lombokMapstructBindingVersion}"
  //
  implementation "org.springdoc:springdoc-openapi-ui:${springdocVersion}"
  implementation "org.springdoc:springdoc-openapi-data-rest:${springdocVersion}"
  implementation "org.openapitools:jackson-databind-nullable:0.2.2"
  // gcp
  // implementation 'com.google.cloud:spring-cloud-gcp-starter'
  implementation 'com.google.cloud:spring-cloud-gcp-starter-sql-postgresql'
	implementation 'com.google.cloud:spring-cloud-gcp-starter-trace'
	implementation 'com.google.cloud:spring-cloud-gcp-starter-secretmanager'
	implementation 'com.google.cloud:spring-cloud-gcp-starter-metrics'
	implementation 'com.google.cloud:spring-cloud-gcp-starter-logging'
  // chaos-monkey
@@ -65,24 +71,30 @@ dependencies {
  testImplementation 'org.testcontainers:junit-jupiter'
  testImplementation 'org.testcontainers:postgresql'
}

dependencyManagement {
  imports {
    mavenBom "org.testcontainers:testcontainers-bom:${testcontainersVersion}"
    mavenBom "org.springframework.cloud:spring-cloud-dependencies:${springCloudVersion}"
    mavenBom "com.google.cloud:spring-cloud-gcp-dependencies:${springCloudGcpVersion}"
  }
}

tasks.withType(JavaCompile) {
    options.compilerArgs = [
      '-Amapstruct.verbose=true',
      '-Amapstruct.defaultComponentModel=spring'
    ]
}

tasks.named('test') {
  useJUnitPlatform()
  testLogging.showStandardStreams = true
}

jacocoTestReport {
	// tests are required to run before generating the report
	dependsOn test
	reports {
		// sonar analysis equired
		xml.required.set(true)
		csv.required.set(true)
