package {{packageName}}.configuration;

import io.swagger.v3.oas.models.Components;
import io.swagger.v3.oas.models.ExternalDocumentation;
import io.swagger.v3.oas.models.OpenAPI;
import io.swagger.v3.oas.models.info.Contact;
import io.swagger.v3.oas.models.info.Info;
import io.swagger.v3.oas.models.info.License;
import io.swagger.v3.oas.models.media.Content;
import io.swagger.v3.oas.models.media.MediaType;
import io.swagger.v3.oas.models.media.Schema;
import io.swagger.v3.oas.models.responses.ApiResponse;
import io.swagger.v3.oas.models.responses.ApiResponses;
import io.swagger.v3.oas.models.security.OAuthFlow;
import io.swagger.v3.oas.models.security.OAuthFlows;
import io.swagger.v3.oas.models.security.SecurityRequirement;
import io.swagger.v3.oas.models.security.SecurityScheme;
import io.swagger.v3.oas.models.security.SecurityScheme.In;
import io.swagger.v3.oas.models.security.SecurityScheme.Type;
import org.springdoc.core.customizers.OpenApiCustomiser;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;
import org.springframework.context.annotation.Profile;
import org.springframework.http.HttpStatus;

@Configuration
@Profile({"dev", "unittest"})
public class OpenAPIConfig {

  private static final String TITLE = "Init project Demo";
  private static final String DESCRIPTION = "Quickly complete the initial project setup";
  private static final String VERSION = "1.0.0";
  private static final String TERMS_OF_SERVICE_URL = "";
  private static final String LICENSE_NAME = "Apache 2.0";
  private static final String LICENSE_URL = "https://www.apache.org/licenses/LICENSE-2.0";
  private static final String CONTACT_NAME = "sam";
  private static final String CONTACT_URL = "https://blog.samzhu.dev";
  private static final String CONTACT_EMAIL = "spike19820318@gmail.com";
  private static final String SECURITY_SCHEME_NAME = "OAuth";
  private static final String BASIC_AUTH_NAME = "BasicAuth";
  private static final String BEARER_TOKEN_NAME = "BearerToken";

  private static final String AUTHORIZATION_URL = "https://accounts.google.com/o/oauth2/v2/auth";

  @Bean
  public OpenAPI springShopOpenAPI() {
    OAuthFlow oAuthFlow = new OAuthFlow();
    oAuthFlow.authorizationUrl(AUTHORIZATION_URL);

    return new OpenAPI()
        .info(this.apiInfo())
        .externalDocs(
            new ExternalDocumentation()
                .description("SpringShop Wiki Documentation")
                .url("https://springshop.wiki.github.org/docs"))
        // .components(
        //     new Components()
        //         .addSecuritySchemes(
        //             SECURITY_SCHEME_NAME,
        //             new SecurityScheme()
        //                 .type(Type.OAUTH2)
        //                 .scheme("bearer")
        //                 .bearerFormat("jwt")
        //                 .in(In.HEADER)
        //                 .name("Authorization")
        //                 .flows(new OAuthFlows().implicit(oAuthFlow))))
        .addSecurityItem(new SecurityRequirement().addList(SECURITY_SCHEME_NAME));
  }

  private Info apiInfo() {
    Contact contact = new Contact();
    contact.setEmail(CONTACT_EMAIL);
    contact.setName(CONTACT_NAME);
    contact.setUrl(CONTACT_URL);
    return new Info()
        .title(TITLE)
        .version(VERSION)
        .contact(contact)
        .description(DESCRIPTION)
        .license(new License().name(LICENSE_NAME).url(LICENSE_URL));
  }
}
