package {{packageName}}.configuration;

import org.springframework.boot.autoconfigure.condition.ConditionalOnProperty;
import org.springframework.boot.autoconfigure.data.redis.LettuceClientConfigurationBuilderCustomizer;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Configuration;

import lombok.extern.slf4j.Slf4j;

@Slf4j
@Configuration
public class RedisConfig {

  @Bean
  @ConditionalOnProperty(name = "spring.redis.ssl", havingValue = "true")
  public LettuceClientConfigurationBuilderCustomizer builderCustomizer() {
    log.info("use ssl and disable ssl verification");
    return builder -> builder.useSsl().disablePeerVerification();
  }
}