# Code #
!**/src/main/**
!**/src/test/**

# Maven #
target/
!.mvn/wrapper/maven-wrapper.jar

# Gradle #
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar

# STS #
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA #
.idea
*.iws
*.iml
*.ipr

# NetBeans #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# VS Code #
bin/
.vscode/

# SpringBoot Config #
**/application-*.yml
!config/application-dev.yml
!config/application-gcp.yml
!config/application-unittest.yml
!config/application-loadtests.yml

**/application-*.properties
!config/application-dev.properties
!config/application-gcp.properties
!config/application-unittest.properties
!config/application-loadtests.properties


# Mac #
.DS_Store

# build #
/src/asciidoc/build

# openapi-generator #
pom.xml

# whitesource #
/whitesource/
wss-unified-agent.jar

# K6 #
summary.html